<h1>陋室</h1>

<ion-content>
  <ion-item>
    <ion-label>邮箱</ion-label>
    <ion-input
      type="email"
      [(ngModel)]="Email"
      (ionBlur)="isExist()"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>密码</ion-label>
    <ion-input type="password" [(ngModel)]="Password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>确认密码</ion-label>
    <ion-input
      type="password"
      [color]="isPasswordOkay ? '' : 'danger'"
      [(ngModel)]="ConfirmPwd"
      (ionChange)="isPasswordEqual()"
    ></ion-input>
  </ion-item>
  <ion-button
    expand="block"
    class="sign-up-btn"
    [disabled]="!isEmailOkay || !isPasswordOkay"
    (click)="signUp()"
  >建馆</ion-button>
  <div>
    <ion-button fill="clear" [routerLink]="['/signin']">已建馆？</ion-button>
  </div>
</ion-content>
