<ion-header>
  <ion-toolbar>
    <ion-title>馆藏</ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="setIsOpenModal(true)"
      >
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col
        [size]="4"
        *ngFor="let category of categories"
      >
        <ion-row
          (click)="presentActionSheet(category.Id)"
        >
          <ion-col [size]="12">
            <ion-icon class="large-icon" name="folder"></ion-icon>
          </ion-col>
          <ion-col [size]="12">{{category.Title}}</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-modal
    [isOpen]="isOpenModal"
    [breakpoints]="[0.5, 0.9, 1]"
    [initialBreakpoint]="0.9"
    [backdropDismiss]="false"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="setIsOpenModal(false)">取消</ion-button>
          </ion-buttons>
          <ion-title>新分类</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="saveCategory()">保存</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">名称</ion-label>
            <ion-input [(ngModel)]="Title"></ion-input>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
